

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <p>view from controller</p>
    <a href="~/Home/Employees">Сотрудники</a>
</head>
<body>
</body>
</html>
