<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
    <li class="dropdown">
        <a href="#">Shop<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Home" asp-action="Shop" >Products</a></li>
            <li><a asp-controller="Home" asp-action="Product_details" >Product Details</a></li>
            <li><a asp-controller="Home" asp-action="Checkout" >Checkout</a></li>
            <li><a asp-controller="Home" asp-action="Cart" >Cart</a></li>
            <li><a asp-controller="Home" asp-action="Login" >Login</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Blog<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Home" asp-action="Blog" >Blog List</a></li>
            <li><a asp-controller="Home" asp-action="Blog_single" >Blog Single</a></li>
        </ul>
    </li>
    <li><a asp-controller="Home" asp-action="Not_Found" >404</a></li>
    <li><a asp-controller="Home" asp-action="Contact_us">Contact</a></li>
    <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
</ul>